* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
  color: white;
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 50vw;
  margin: auto;
}
.header {
  padding: 50px 20px 30px 20px;
}
.header h1 {
  font-size: 50px;
  font-weight: 600;
  color: #fbb034;
  text-shadow: 1px 3x rgba(0, 0, 0, 0.9);
}
.header input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #fbb034;
  text-align: center;
  font-size: 20px;
  color: #f2f2f2;
}
#search {
  width: 90px;
  border-radius: 10px;
  margin-top: 10px;
}
#search:hover {
  background-color: #545b62;
  color: white;
}
.city {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}
.temp {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 15px;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.1);
}
.desc {
  font-size: 25px;
  font-style: italic;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}
.minmax {
  font-size: 24px;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 768px) {
  .app {
    width: 69vw;
  }
  .header h1 {
    font-size: 25px;
  }
  .city {
    font-size: 15px;
  }
  .temp {
    font-size: 45px;
  }
}
